.messageContainer {
    height: 10vh;
    padding: 20px 50px;
}

.form {
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    position: relative;
    box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.3);
}

.form > * {
    border: 0;
    padding: 0 0 0 10px;
    background: #ffffff;
    line-height: 50px;
    font-size: 1rem;
    border-radius: 0;
    outline: 0;
}

.msgInput {
    flex-basis: 90%;
}

.btn {
    background: #4361ee;
    color: #ffffff;
    padding: 0 56px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn:hover {
    background: #4387ee;
}

.btn:disabled {
    background: #495057;
    border: 1px solid #495057;
    cursor: default;
}